.body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: auto;
}


.img-logo {
  background: transparent url("templates/images/logo.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  width: 46px;
  height: 52px;
  box-shadow: 0px 3px 15px #00000029;

}

.img-topbar {
  
  width: 650px;
  height: 450px;
  background: transparent
    url("templates/images/Developers doing discussion about wireframe.png") 0%
    0% no-repeat padding-box;
  opacity: 0.6;
  box-shadow: 0px 3px 15px #00000029;

}

.heading-main {
  size: 1rem;
  font: Bold 30px Open Sans;
  color: #464242;
  text-transform: capitalize;
  opacity: 0.7;
  letter-spacing: 0em;
}

.heading-sub {
  size: 0.8rem;
  color: #464242;
  text-transform: capitalize;
  opacity: 0.7;
  letter-spacing: 0em;
}

.text {
  size: 0.4rem;
  font: Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.img-about {
  
  width: 500px;
  height: 350px;
  background: transparent
    url("templates/images/69096379_103099181060134_30738475347083264_o.png") 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #00000029;
  opacity: 0.92;
}

.img-activities {

  width: 613px;
  height: 304px;
  background: transparent
    url("templates/images/undraw_shared_workspace_hwky.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  box-shadow: 0px 3px 15px #00000029;

}

.img-team {

  width: 532px;
  height: 338px;
  background: transparent url("templates/images/undraw_team_page_pgpr.png") 0%
    0% no-repeat padding-box;
  opacity: 1;
  box-shadow: 0px 3px 15px #00000029;

}
.card{

  width: 450px;
  height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px #00000029;
  border-radius: 12px;
  opacity: 1;
}

.card-events-img {

  width: 450px;
  height: 191px;
  background: transparent
    url("templates/images/76266712_148129396557112_3875172377830621184_o.png")
    0% 0% no-repeat padding-box;
  opacity: 0.98;
}
.card-magazine-img {

  width: 450px;
  height: 202px;
  background: transparent url("templates/images/Page 1.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.partner-img1 {
  margin: auto;
  padding: auto;
  height: 70px;
  width: 8%;
  background: transparent url("templates/images/gdg.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  box-shadow: 0px 3px 15px #00000029;

}
.partner-img2 {
  
  margin: auto;
  padding: auto;
  height: 70px;
  width: 8%;
  background: transparent url("templates/images/google_dev.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  box-shadow: 0px 3px 15px #00000029;

}
.partner-img3 {
  
  margin: auto;
  padding: auto;
  height: 70px;
  width: 8%;

  background: transparent url("templates/images/highres_452804751.png") 0% 0%
    no-repeat;
  opacity: 1;
  box-shadow: 0px 3px 15px #00000029;

}

.img-kgec {

  width: 518px;
  height: 347px;
  background: transparent url("templates/images/1552715138phpC3AcrS.png") 0% 0%
    no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
  box-shadow: 0px 3px 15px #00000029;

}
.link{
size: 0.3rem;
font: Open Sans;
letter-spacing: 0;
color: #7A7474;
opacity: 1;
}
