.body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 3889px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.topbar {
  top: 128px;
  left: 78px;
  width: 1300px;
  height: 540px;
  background: #e1e9ec 0% 0% no-repeat padding-box;
  opacity: 0.25;
}

.navbar {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 103px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.navbar-text-home {
  left: 778px;

  width: 344px;
  top: 55px;
  height: 19px;
  text-align: left;
  font: Semibold 14px/19px Open Sans;
  letter-spacing: 0;
  color: #676262;
  text-transform: uppercase;
  opacity: 1;
}

.navbar-text-events {
  left: 880px;

  width: 344px;
  top: 55px;
  height: 19px;
  text-align: left;
  font: Semibold 14px/19px Open Sans;
  letter-spacing: 0;
  color: #676262;
  text-transform: uppercase;
  opacity: 1;
}

.navbar-text-team {
  left: 999px;

  width: 344px;
  top: 55px;
  height: 19px;
  text-align: left;
  font: Semibold 14px/19px Open Sans;
  letter-spacing: 0;
  color: #676262;
  text-transform: uppercase;
  opacity: 1;
}

.navbar-text-blog {
  left: 1089px;

  width: 344px;
  top: 55px;
  height: 19px;
  text-align: left;
  font: Semibold 14px/19px Open Sans;
  letter-spacing: 0;
  color: #676262;
  text-transform: uppercase;
  opacity: 1;
}

.img-logo {
  position: relative;
  margin: 1em;
  padding: 1em;
  width: 50px;
  height: 50px;
  background: transparent url("templates/images/logo.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.img-topbar {
  top: 180px;
  left: 678px;
  width: 613px;
  height: 500px;
  background: transparent
    url("templates/images/Developers doing discussion about wireframe.png") 0%
    0% no-repeat padding-box;
  opacity: 0.6;
}

.logo-topbar {
  top: 250px;
  left: 335px;
  width: 346px;
  height: 52px;
  background: transparent url("templates/images/logo.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.title-topbar {
  top: 330px;
  left: 210px;
  width: 344px;
  height: 20px;
  text-align: center;
  font: Bold 30px Open Sans;
  color: #464242;
  text-transform: capitalize;
  opacity: 0.7;
  letter-spacing: 0em;
}

.text-topbar {
  top: 410px;
  left: 210px;
  width: 344px;
  height: 20px;
  text-align: center;
  color: #464242;
  text-transform: capitalize;
  opacity: 0.7;
  letter-spacing: 0em;
}

.title {
  top: 51px;
  left: 136px;
  width: 399px;
  height: 28px;
  text-align: left;
  font: Bold 24px/28px Karla;
  letter-spacing: 0;
  color: #0a0909;
  text-transform: uppercase;
  opacity: 0.66;
}

.nav-text {
  top: 55px;
  left: 778px;
  width: 344px;
  height: 19px;
  text-align: left;
  font: Semibold 14px/19px Open Sans;
  letter-spacing: 0;
  color: #676262;
  text-transform: uppercase;
  opacity: 1;
}

.sign-up {
  top: 42px;
  left: 1170px;
  width: 140px;
  height: 45px;
  background: #536dfe 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.sign-up-topbar {
  top: 480px;
  left: 310px;
  width: 140px;
  height: 45px;
  background: #536dfe 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.about-text {
  top: 720px;
  left: 700px;
  width: 344px;
  height: 41px;
  font: Bold 30px/41px Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.about-text-sub {
  top: 780px;
  left: 696px;
  width: 300px;
  height: 22px;
  text-align: left;
  font: Regular 16px/22px Open Sans;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.about-text--sub {
  top: 826px;
  left: 695px;
  width: 575px;
  height: 208px;
  text-align: left;
  font: Regular 19px/26px Open Sans;
  letter-spacing: 0;
  color: #272323;
  opacity: 1;
}

.about-text---sub {
  top: 1096px;
  left: 695px;
  width: 269px;
  height: 22px;
  text-align: left;
  font: Semibold 16px/22px Open Sans;
  letter-spacing: 0;
  color: #5c89d8;
  opacity: 1;
}

.about-button {
  top: 1028px;
  left: 695px;
  width: 220px;
  height: 53px;
  background: #536dfe 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.img-aboutus {
  top: 775px;
  left: 128px;
  width: 458px;
  height: 306px;
  background: transparent
    url("templates/images/69096379_103099181060134_30738475347083264_o.png") 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #00000029;
  border-radius: 10px;
  opacity: 0.92;
}

.activity-text {
  top: 1291px;
  left: 115px;
  width: 139px;
  height: 41px;
  text-align: left;
  font: Bold 30px/41px Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.img-activities {
  top: 1271px;
  left: 658px;
  width: 613px;
  height: 304px;
  background: transparent
    url("templates/images/undraw_shared_workspace_hwky.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.activity-text-sub {
  top: 1354px;
  left: 115px;
  width: 313px;
  height: 22px;
  text-align: left;
  font: Regular 16px/22px Open Sans;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.activity-text--sub {
  top: 1396px;
  left: 115px;
  width: 494px;
  height: 104px;
  text-align: left;
  font: Regular 19px/26px Open Sans;
  letter-spacing: 0;
  color: #272323;
  opacity: 1;
}

.activity-text---sub {
  top: 1605px;
  left: 115px;
  width: 216px;
  height: 22px;
  text-align: left;
  font: Semibold 16px/22px Open Sans;
  letter-spacing: 0;
  color: #5c89d8;
  opacity: 1;
}

.activity-button {
  top: 1538px;
  left: 115px;
  width: 352px;
  height: 53px;
  background: #536dfe 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.img-team {
  top: 1729px;
  left: 77px;
  width: 532px;
  height: 338px;
  background: transparent url("templates/images/undraw_team_page_pgpr.png") 0%
    0% no-repeat padding-box;
  opacity: 1;
}

.team-title {
  top: 1722px;
  left: 680px;
  width: 83px;
  height: 41px;
  text-align: left;
  font: Bold 30px/41px Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.team-text-sub {
  top: 1779px;
  left: 682px;
  width: 330px;
  height: 22px;
  text-align: left;
  font: Regular 16px/22px Open Sans;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.team-text--sub {
  top: 1820px;
  left: 683px;
  width: 580px;
  height: 182px;
  text-align: left;
  font: Regular 19px/26px Open Sans;
  letter-spacing: 0;
  color: #272323;
  opacity: 1;
}

.team-text---sub {
  top: 2092px;
  left: 683px;
  width: 224px;
  height: 22px;
  text-align: left;
  font: Semibold 16px/22px Open Sans;
  letter-spacing: 0;
  color: #5c89d8;
  opacity: 1;
}

.team-button {
  top: 2029px;
  left: 683px;
  width: 352px;
  height: 53px;
  background: #536dfe 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.card-events {
  top: 2253px;
  left: 103px;
  width: 570px;
  height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px #00000029;
  border-radius: 12px;
  opacity: 1;
}

.card-magazine {
  top: 2253px;
  left: 713px;
  width: 570px;
  height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px #00000029;
  border-radius: 12px;
  opacity: 1;
}

.card-events-img {
  top: 2272px;
  left: 240px;
  width: 269px;
  height: 191px;
  background: transparent
    url("templates/images/76266712_148129396557112_3875172377830621184_o.png")
    0% 0% no-repeat padding-box;
  opacity: 0.98;
}

.card-magazine-img {
  top: 2267px;
  left: 830px;
  width: 336px;
  height: 202px;
  background: transparent url("templates/images/Page 1.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.card-events-title {
  top: 2483px;
  left: 161px;
  width: 83px;
  height: 34px;
  text-align: left;
  font: Bold 25px/34px Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.card-magazine-title {
  top: 2483px;
  left: 771px;
  width: 385px;
  height: 34px;
  text-align: left;
  font: Bold 25px/34px Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.card-events-text {
  top: 2528px;
  left: 161px;
  width: 449px;
  height: 92px;
  text-align: left;
  font: Regular 17px/23px Open Sans;
  letter-spacing: 0;
  color: #272323;
  opacity: 1;
}

.card-magazine-text {
  top: 2528px;
  left: 771px;
  width: 448px;
  height: 69px;
  text-align: left;
  font: Regular 17px/23px Open Sans;
  letter-spacing: 0;
  color: #272323;
  opacity: 1;
}

.card-events-button {
  top: 2621px;
  left: 286px;
  width: 204px;
  height: 49px;
  background: #536dfe 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.card-magazine-button {
  top: 2621px;
  left: 907px;
  width: 204px;
  height: 49px;
  background: #536dfe 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.partner-title {
  top: 2777px;
  left: 618px;
  width: 130px;
  height: 41px;
  text-align: left;
  font: Bold 30px/41px Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.partner-text {
  top: 2818px;
  left: 564px;
  width: 239px;
  height: 22px;
  text-align: left;
  font: Regular 16px/22px Open Sans;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.partner-img1 {
  top: 2900px;
  left: 461px;
  width: 86px;
  height: 68px;
  background: transparent url("templates/images/gdg.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.partner-img2 {
  top: 2897px;
  left: 640px;
  width: 88px;
  height: 71px;
  background: transparent url("templates/images/google_dev.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.partner-img3 {
  top: 2897px;
  left: 825px;
  width: 82px;
  height: 59px;
  background: transparent url("templates/images/highres_452804751.png") 0% 0%
    no-repeat padding-box;
  opacity: 1;
}

.abkgec-title {
  top: 3090px;
  left: 103px;
  width: 176px;
  height: 41px;
  text-align: left;
  font: Bold 30px/41px Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.abkgec-text {
  top: 3171px;
  left: 103px;
  width: 554px;
  height: 234px;
  text-align: left;
  font: Regular 19px/26px Open Sans;
  letter-spacing: 0;
  color: #272323;
  opacity: 1;
}

.abkgec-img {
  top: 3101px;
  left: 748px;
  width: 518px;
  height: 347px;
  background: transparent url("templates/images/1552715138phpC3AcrS.png") 0% 0%
    no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
}

.abkgec-text-sub {
  top: 3426px;
  left: 103px;
  width: 248px;
  height: 22px;
  text-align: left;
  font: Semibold 16px/22px Open Sans;
  letter-spacing: 0;
  color: #5c89d8;
  opacity: 1;
}

.top-footer {
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-list {
  display: flex;
  margin-top: 20px;
}

.social-links-list a:nth-child(2) {
  margin: 0 10px;
}

.footer-about {
  text-align: left;
  font: Bold 25px/34px Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.footer-link {
  text-align: left;
  font: Bold 25px/34px Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.footer-social {
  text-align: left;
  font: Bold 25px/34px Open Sans;
  letter-spacing: 0;
  color: #464242;
  text-transform: capitalize;
  opacity: 1;
}

.ab-link1 {
  width: 366px;
  height: 22px;
  text-align: left;
  font: Regular 16px/22px Open Sans;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.ab-link2 {
  width: 322px;
  height: 22px;
  text-align: left;
  font: Regular 16px/22px Open Sans;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.ab-link3 {
  width: 312px;
  height: 22px;
  text-align: left;
  font: Regular 16px/22px Open Sans;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.li-link1 {
  width: 350px;
  height: 22px;
  text-align: left;
  font: Regular 16px/22px Open Sans;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.li-link2 {
  width: 162px;
  height: 22px;
  text-align: left;
  font: Regular 16px/22px Open Sans;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.li-link3 {
  width: 344px;
  height: 22px;
  text-align: left;
  font: Regular 16px/22px Open Sans;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.so-link1 {
  width: 40px;
  height: 40px;
  text-align: left;
  letter-spacing: 0;
  color: #7a7474;
  opacity: 1;
}

.bottom-footer {
  background: #f8f9fa;
  color: #222;

  padding: 20px;
}

.bottom-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo-holder {
  display: flex;
  align-items: center;
}

.footer-logo-holder img {
  width: 60px;
  height: 60px;
}

.footer-caption {
  text-align: left;
  font: Regular 16px/22px Open Sans;
}

.footer-text {
  text-align: left;
  margin-left: auto;
  font: Regular 16px/22px Open Sans;
}

a {
  cursor: pointer;
}
